body {
  padding: 5px;
  font-family: "Press Start 2P", cursive;
  font-size: 12px;
  background-color: rgba(166, 0, 19, 0.7);
}

.main-title {
  font-size: larger;
  padding-left: 7px;
}

ul {
  list-style-type: none;
  padding-left: 0%;
}

li {
  padding: 5px;
}

.button {
  background: rgb(60, 60, 60);
  color: whitesmoke;
  padding: 12px 28px;
  border: 2px;
  border-radius: 2px;
  width: 200px;
  text-transform: capitalize;
}

.button:hover {
  cursor:pointer
}
